/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

input[type="text"] {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #218838;
}

button.editOption,
button.deleteOption,
button.deletePoll {
  background-color: #007bff;
  margin-left: 10px;
}

button.editOption:hover,
button.deleteOption:hover,
button.deletePoll:hover {
  background-color: #0056b3;
}

/* User Interface Page Styles */
#pollsContainer {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#pollsContainer div {
  margin-bottom: 20px;
}

#pollsContainer h2 {
  margin: 0 0 10px 0;
}

#pollsContainer ul {
  list-style-type: none;
  padding: 0;
}

#pollsContainer li {
  background-color: #f4f4f4;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}

#pagination {
  text-align: center;
  margin: 20px 0;
}

#pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

#pagination button:hover {
  background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 600px) {
  #pollsContainer {
    width: 95%;
  }

  form {
    width: 95%;
  }
}
